<!-- mobile-menu window -->

<div class="mobile-menu" id="mobile-menu">
      <div class="mobile-menu__wrapper">
    
        <nav class="nav-mobile-menu">
          <ul class="nav-mobile-menu-list">
            <li class="nav-mobile-menu-item">
              <a
                class="nav-mobile-menu-link js-nav-link"
                href="./index.html"
                ><span class="nav-mobile-menu-link-text">HOME</span></a
              >
            </li>
            <li class="nav-mobile-menu-item">
              <a
                class="nav-mobile-menu-link nav-mobile-menu-link-shopping-list js-nav-link"
                href="./shopping-list.html"
                ><span class="nav-mobile-menu-link-text">SHOPPING LIST</span>
                <div class="nav-mobile-menu-icon-box">
                  <svg class="nav-mobile-menu-icon" width="20" height="20">
                    <use href="./img/InlineSprite.svg#cartshop-icon"></use>
                  </svg>
                </div>
                <span id="bookCountMenu" class="nav-header-book-count"></span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="mobile-menu-logout">
          <button class="log-out-btn btn-logout">
            <span>Sign up</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <path
                d="M3.33301 10H16.6663M16.6663 10L11.6663 5M16.6663 10L11.6663 15"
                stroke="#EAC645"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    