<!-- mobile-menu window -->

<div class="mobile-backdrop is-hidden">
  <div class="mobile-menu">
    <div class="header-mobile container">
      <!-- =======Logo=====-->
        <a href="./index.html" class="link">
          <div class="logo-container logo-light">
            <svg class="icon-logo" width="24" height="24">
              <use href="./img/InlineSprite.svg#logo-light"></use>
            </svg>
            <svg class="icon-logo" width="77" height="20">
              <use href="./img/InlineSprite.svg#Bookshelf-light"></use>
            </svg>
          </div>
          <div class="logo-container logo-dark">
            <svg class="icon-logo" width="24" height="24">
              <use href="./img/InlineSprite.svg#logo-dark"></use>
            </svg>
            <svg class="icon-logo" width="77" height="20">
              <use href="./img/InlineSprite.svg#Bookshelf-dark"></use>
            </svg>
          </div>
        </a>

        <!-- ================== SWITCHER AND CLOSE BTN ================================================ -->
        <div class="div-switch-user burger-switch-cont">
          <label id="switch" class="switch">
            <input type="checkbox" id="slider" />
            <span class="slider round"></span>
          </label>
  
          <div class="close-burger-container"></div>
          <!--BURGER-->
          <button class="menu-toggle js-close-menu">
            <svg class="icon-close-burger" width="28" heigth="28">
              <use href="./img/InlineSprite.svg#x-close"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="burger-main-part">
      <div class="burger-upper">
        <!-- ========================== SIGN UP BUTTON ============================== -->
        <div class="sign-up-container">
          <button type="button" class="sign-up-btn">
            Sign Up
            <svg class="logout-icon-arrow" width="20" height="20">
              <use href="./img/InlineSprite.svg#arrow-narrow-right"></use>
            </svg>
          </button>
        </div>
        <!-- ================================================================================== -->
        <!-- ============ USER ACCOUNT ============================================== -->
        <div class="burger-user visually-hidden">
          <div class="header-user-image">
            <svg class="icon-user" width="12" height="16">
              <use href="./img/InlineSprite.svg#user"></use>
            </svg>
          </div>
          <span class="header-user-name">Stephen</span>
          <svg class="icon-arrow-down-user" width="23" height="26">
            <use href="./img/InlineSprite.svg#user-arrow"></use>
          </svg>
        </div>
    
        <!--Navigation-->
          <nav class="nav-burger-menu">
        <ul class="burger-menu-list">
          <li class="burger-list-item">
            <a
              class="burger-home js-nav-link active-header"
              href="./index.html"
              >HOME</a
            >
          </li>
          <li class="burger-list-item">
            <a href="./shopping.html" class="burger-shoplist js-nav-link">
              Shopping list
              <svg class="bag-burger-icon" width="20" height="20">
                <use href="./img/InlineSprite.svg#cartshop-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="logout-btn-container visually-hidden">
      <button type="button" class="logout-btn">
        Log out
        <svg class="logout-icon-arrow" width="20" height="20">
          <use href="./img/InlineSprite.svg#arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
</div>