<section>
  <div class="shopping-list">
    <ul class="books-list">
      <li class="shopping-element">
        <img
          src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
          alt="asfsafas"
          class="book-image"
        />
        <div class="text-content">
          <h2 class="book-title">ATOMIC HABITS</h2>
          <p class="book-category">Advice How-To and Miscellaneous</p>
          <p class="book-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            veritatis tempora molestiae nostrum quasi impedit blanditiis natus
            vero reprehenderit adipisci ab temporibus consequuntur accusantium
            sint veniam, placeat ea quibusdam dolore assumenda maiores error
            dolor eaque in! Praesentium, temporibus assumenda. Illum officiis
            rerum totam, corporis explicabo, ad tempore porro facere,
            consequuntur et sint eos! Accusamus praesentium laborum minus odit
            labore tempora accusantium vel nobis aliquam, odio dolorem, rem,
            quibusdam culpa deleniti consectetur fuga deserunt aliquid hic nam
            facilis nostrum! Maiores, ipsum!
          </p>
          <p class="author-name">James Clear</p>
        </div>
        <button type="submit" class="delete-item">RB</button>
      </li>
    </ul>
  </div>
</section>
