<!-- Modal window-->
<div class="sign-in-backdrop is-hidden js-signin-form">
  <div class="sign-in-modal">
    <button class="sign-in-close-btn js-close-signin" type="button">
      <svg class="signin-close-icon" width="28" height="28">
        <use href="../img/InlineSprite.svg#x-close"></use>
      </svg>
    </button>
<!-- ========================== SIGN UP CONTAINER ===================================== -->
    <div class="container-signup">
      <form class="inputs-container-form">
        <div class="sign-in-form">
            <input
              type="text"
              name="name"
              class="modal-input"
              id="user-name"
              placeholder="name"
              required
            />
        </div>
        <div class="modal-form">
          <div class="input-field">
            <input
              type="email"
              name="email"
              class="modal-input"
              id="user-email"
              placeholder="email"
              required
            />
            <svg class="modal-user-icons" width="28" height="28">
              <use href="../img/InlineSprite.svg#icon-mail"></use>
            </svg>
          </div>
        </div>
        <div class="modal-form">
          <div class="input-field">
            <input
              type="password"
              name="password"
              class="modal-input"
              id="user-password"
              placeholder="password"
              required
            />
            <svg class="modal-user-icons" width="28" height="28">
              <use href="../img/InlineSprite.svg#icon-lock"></use>
            </svg>
          </div>
        </div>
        <button type="submit" class="send-user-data" id="btnlogin">
          <p class="btn-send-par">Sign up</p>
        </button>
      </form>
    </div>
    <!-- ============================================================================================= -->
    <!-- ====================== SIGN IN CONTAINER ==================================================== -->
    <div class="container-signin visually-hidden">
      <form class="signin-container-form">
        <div class="modal-form">
          <div class="input-field">
            <input
              type="email"
              name="email"
              class="modal-input"
              id="user-email"
              placeholder="email"
              required
            />
            <svg class="modal-user-icons" width="28" height="28">
              <use href="../img/InlineSprite.svg#icon-mail"></use>
            </svg>
          </div>
        </div>
        <div class="modal-form">
          <div class="input-field">
            <input
              type="password"
              name="password"
              class="modal-input"
              id="user-password"
              placeholder="password"
              required
            />
            <svg class="modal-user-icons" width="28" height="28">
              <use href="../img/InlineSprite.svg#icon-lock"></use>
            </svg>
          </div>
        </div>
        <button type="submit" class="send-user-data" id="btnsign">
          <p class="btn-send-par">Sign in</p>
        </button>
      </form>
    </div>
    <!-- =============================================================================== -->

    <div class="login-buttons-container">
      <ul class="form-btn-list">
        <li>
          <p class="form-btn-link active-btn js-sign-up-btn-form">sign up</p>
        </li>
        <li><p class="form-btn-link js-sign-in-btn-form">sign in</p></li>
      </ul>
    </div>
  </div>
</div>
