<html>
  <head>
    <meta charset="utf-8" />
    <title>Smart Media Compaing</title>

    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css"
    />
    <link rel="stylesheet" type="text/css" href="./css/sing-in.css" />
  </head>
  <body>
    <button class="hero-button" type="button" data-modal-open>
      Order Service
    </button>

    <!-- Modal window-->
    <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button class="modal-btn" type="button" data-modal-close>
          <svg class="modal-icon" width="8" height="8">
            <use href="./img/icons.svg#close-black"></use>
          </svg>
        </button>

        <form>
          <div class="modal-form">
            <label class="modal-form-field" for="user-name">
              <span class="modal-form-label">Name</span>
            </label>
            <div class="input-field">
              <input
                type="text"
                name="user-name"
                class="modal-input"
                id="user-name"
              />
              <svg class="modal-user-icons" width="18" height="24">
                <use href="./img/icons.svg#person"></use>
              </svg>
            </div>
          </div>
          <div class="modal-form">
            <label class="modal-form-field" for="user-email">
              <span class="modal-form-label">Email</span>
            </label>
            <div class="input-field">
              <input
                type="email"
                name="user-email"
                class="modal-input"
                id="user-email"
              />
              <svg class="modal-user-icons" width="18" height="24">
                <use href="./img/icons.svg#email"></use>
              </svg>
            </div>
          </div>
          <div class="modal-form">
            <label class="modal-form-field" for="user-password">
              <span class="modal-form-label">Password</span>
            </label>
            <div class="input-field">
              <input
                type="password"
                name="user-password"
                class="modal-input"
                id="user-password"
              />
              <svg class="modal-user-icons" width="18" height="24">
                <use href="./img/icons.svg#email"></use>
              </svg>
            </div>
          </div>

          <button type="submit" class="send-btn" id="btnLogin">Login</button>
        </form>
      </div>
    </div>
    <script src="./js/sing-in.js"></script>
  </body>
</html>
