<section class="support">
    <h3 class="support-title">
    Support Ukraine
    <svg class="support-svg" width="20px" height="32px">
      <use href="./img/InlineSprite.svg#Ukraine"></use>
    </svg>
  </h3>
  <div class="slider-container">
    <ul class="support-list js-support">
    </ul>
  </div>

  <div class="button-support slider-button">
    <button class="support-button">
      <svg class="support-button-svg">
        <use href="./img/InlineSprite.svg#arrow-down"></use>
      </svg>
    </button>
  </div>
  </section>