/* MOBILE VERSION BESTSELLERS */
.book-block-title {
  color: var(--black);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}
.book-block-title-accent {
  color: var(--violet);
}
.book-block {
  background-color: var(--background-white);
  padding-bottom: 80px;
}
/* POPULAR BOOK CARDS */
.best-category-title {
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.03em;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.book-card-img {
  border-radius: 8px;
  margin-bottom: 14px;
  width: 335px;
  height: 485px;
}
.category-books-wrapper,
.best-category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.book-card-text {
  color: var(--gray);
  background-color: var(--background-white);
  font-style: italic;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.book-card-title {
  line-height: 1.12;
  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.see-more-btn-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.see-more-btn {
  color: var(--black);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  border-radius: 40px;
  border: 2px solid var(--violet);
  background-color: inherit;
  height: 46px;
  width: 124px;
  margin-bottom: 40px;
  transition: var(--animation);
}
@media (hover: hover) {
  .see-more-btn:hover,
  .see-more-btn:focus {
    color: var(--white);
    background-color: var(--violet);
  }
}

.book-card {
  display: none;
  cursor: pointer;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .book-card:first-child {
    display: block;
  }
}
/* ===================================================================================== */
/* ==================== TABLET VERSION ================================================= */
@media screen and (min-width: 768px) {
  .book-block-title {
    font-size: 48px;
    line-height: 1.08;
  }
  .book-card-img {
    width: 218px;
    height: 316px;
  }

  .book-card:nth-child(-n + 3) {
    display: block;
  }
  .book-card {
    width: calc((100% - 50px) / 3);
  }
  .category-books-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 25px;
  }

  .best-category-list {
    flex-direction: row;
    column-gap: 25px;
  }
  .best-category-title {
    line-height: 1.71;
  }
  .see-more-btn-box {
    margin-top: 12px;
  }
}
/* ================================================================================================= */
/* ======================== DESKTOP VERSION ======================================================== */
@media screen and (min-width: 1440px) {
  .book-block {
    max-width: 996px;
  }
  .category-books-wrapper, 
  .best-category-list {
    column-gap: 24px;
  }

  .book-card {
    display: block;
    width: calc((100% - 96px) / 5);
  }
  .book-card-img {
    width: 180px;
    height: 256px;
  }
  .see-more-btn-box {
    margin-top: 24px;
  }
}