.header {
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--black);
  background: var(--white);
}

.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.link {
  height: 28px;
  display: flex;
  align-items: center;
}

.icon-logo {}

.menu-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

@media screen and (min-width: 768px){
  .menu-container {
    gap: 87px;
  }
}

@media screen and (min-width: 1440px) {
  .menu-container {
    gap: 745px;
  }
}

.header-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;

  }
}

.header-menu-list {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.hm-list-item {}

.header-home {
  text-transform: uppercase;
}

.header-shoplist {
  text-transform: uppercase;
}

.header-user {
  width: 184px;
  height: 45px;
  background: var(--violet);
  border-radius: 36px;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (min-width: 768px) {
  .header-user {
    display: flex;
  }
}

.header-user-image {
  width: 37px;
    height: 37px;
    border-radius: 37px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-user-name {
  color: var(--white);
  font-size: 22px;
  font-weight: 700;
}

.icon-arrow-down-user {
  fill: var(--white);

}