/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./categories.css');
@import url('./cards-example.css');
@import url('./support.css');
@import url('./shopping-list.css');
@import url('./book-block.css');
@import url('./modal-window.css');
@import url('./scroll-up.css');
@import url('./sign-in.css');
@import url('./mobile-menu.css');
@import url('./loader.css');
@import url('./modal-window.css');

@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url(../fonts/DMSans-Regular.ttf);
  src: url(../fonts/DMSans-Italic.ttf);
  src: url(../fonts/DMSans-Medium.ttf);
  src: url(../fonts/DMSans-Bold.ttf);
}

:root {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  --transition: transform 0.3s ease-out;
  --black: #111;
  --black-1: #202024;
 --violet: #4f2ee8;
  --yellow: #eac645;
  --white: #fff;
  --gray: #b4afaf;
  --background-white: #f6f6f6;
  --category-label: rgba(17, 17, 17, 0.6);
  --filter-for-amazon: grayscale(100%);
  --animation: 0.3s ease-in-out;
  --link-hover-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
  color: var(--black);
  background-color: var(--background-white);
}

.hidden {
  display: none;
}

/* Dark styles default*/
.darkmode{
    --black: #FFF;
    --black-1: #f6f6f6;
    --white: #111;
    --background-white: #202024;
    --category-label: rgba(255, 255, 255, 0.60);
    --link-hover-filter:drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
    --filter-for-amazon: brightness(0) invert(1);
    color: var(--black);
    background-color: var(--background-white);
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .main-container {
    gap: 98px;
  }
  .left-main {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
  }
  .main-container {
    flex-direction: row;
    gap: 40px;
  }
  .left-main {
    flex-direction: column;
    gap: 86px;
    width: 356px;
  }
  .shopping-box {
    display: flex;
    gap: 40px;
  }
}

/* For hidden */
.hidden {
  display: none;
}
