.tui-pagination * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .tui-ico-ellipsis,
  .tui-ico-first,
  .tui-ico-last,
  .tui-ico-next,
  .tui-ico-prev {
    overflow: hidden;
  }
  
  .tui-pagination {
    min-height: 38px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  
  
    @media screen and (min-width: 768px) {
      height: 44px;
      margin-top: 40px;
    }
   
  }
  
  .tui-pagination .tui-page-btn {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    min-width: 38px;
    min-height: 38px;
    font-size: 18px!important;
    font-weight: 700!important;
    line-height: 1.22!important;
    color: var(--black)!important;
    text-decoration: none;
    border-radius: 50%;
    border-right: 1px solid var(--black)!important;
    border-left:  1px solid var(--black)!important;
    border-top: 1px solid var(--black)!important;
    border-bottom: 1px solid var(--black)!important;
    margin-right: 3px!important;
    margin-left: 3px!important;
  
  
    @media screen and (min-width: 768px) {
      min-width: 44px;
      min-height: 44px;
      padding: 11px 0;
      margin-left: 10px;
    }
  }
  
  .tui-pagination .tui-page-btn:hover {
    background-color: inherit;
  }
  
  .tui-pagination .tui-is-selected,
  .tui-pagination strong {
    color: var(--black);

  
    cursor: default;
  }
  
  .tui-pagination .tui-first-child,
  .tui-pagination strong.tui-first-child {
    margin-left: 0;
    border-right: 1px solid var(--black)!important;
    border-left:  1px solid var(--black)!important;
    border-top: 1px solid var(--black)!important;
    border-bottom: 1px solid var(--black)!important;
  }
  
  .tui-pagination .tui-first,
  .tui-pagination .tui-prev,
  .tui-pagination .tui-next,
  .tui-pagination .tui-last,
  .tui-pagination .tui-prev-is-ellip,
  .tui-pagination .tui-next-is-ellip {
    height: 38px;
    white-space: nowrap;
    padding: 0;
    font-size: 0;
    font-weight: normal;
    line-height: 38px;
    overflow: hidden;
  
  
    @media screen and (min-width: 768px) {
      height: 44px;
      line-height: 44px;
     
    }
  }
   
  .tui-pagination .tui-ico-first,
  .tui-pagination .tui-ico-prev,
  .tui-pagination .tui-ico-next,
  .tui-pagination .tui-ico-last,
  .tui-pagination .tui-ico-ellip {
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
   
  }
  
  .tui-pagination .tui-prev-is-ellip,
  .tui-pagination .tui-next-is-ellip {
    padding: 0;
    line-height: 1;
  }
  
  
  .tui-pagination .tui-first {
    margin: 0 8px 0 0;
    color: var(--white);
    background-color: #111111;
  
  
    @media screen and (min-width: 768px) {
      margin: 0 8px 0 0;
    }
  }
  
  .tui-pagination .tui-next {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #EAC645;
  
  
    @media screen and (min-width: 768px) {
      margin-left: 24px!important;
      margin-right: 8px;
    }
  }
  
  .tui-pagination .tui-last {
    margin: 0;
    background-color: #EAC645;
  }
  
  .tui-pagination .tui-ico-first {
    width: 11px;
    height: 10px;
    background-position: -13px 0px;
  }
  .tui-pagination:hover .tui-ico-first, 
  .tui-pagination:focus .tui-ico-first {
    color: #fff!important;
  }
  
  .tui-pagination .tui-ico-prev {
    width: 6px;
    height: 10px;
    background-position: -26px -12px;
  }
  
  .tui-pagination .tui-ico-next {
    width: 6px;
    height: 10px;
    background-position: -13px -24px;
  }
  
  .tui-pagination .tui-ico-last {
    width: 11px;
    height: 10px;
    background-position: 0px -12px;
  }
  
  .tui-pagination .tui-ico-ellip {
    width: 10px;
    height: 2px;
    margin-top: 24px;
    vertical-align: top;
    background-position: 0px -24px;
  
  
    @media screen and (min-width: 768px) {
      margin-top: 28px;
     
    }
  }
  
  .tui-pagination .tui-is-disabled:hover {
    background: var(--black);
    cursor: default;
  }
  
  .tui-pagination .tui-is-disabled .tui-ico-prev {
    background-position: -26px 0px;
  }
  
  .tui-pagination .tui-is-disabled .tui-ico-first {
    background-position: 0px 0px;
  }
  
  .tui-pagination .tui-is-disabled .tui-ico-next {
    background-position: -21px -24px;
  }
  
  .tui-pagination .tui-is-disabled .tui-ico-last {
    background-position: -13px -12px;
  }
  
  .tui-page-inputs {
    display: inline-block;
    vertical-align: top;
  }
  
  .tui-page-inputs .tui-page-current {
    color: var(--black);
  }
  
  .tui-page-separator {
    display: inline-block;
    font-size: 12px;
    height: 12px;
    padding: 8px 0 6px;
    vertical-align: top;
  }

  

.tui-pagination .tui-is-selected, .tui-pagination strong {
  background-color: var(--violet)!important;
  color: #fff!important;
  border-color: var(--violet)!important;
}

.tui-pagination .tui-prev {
  margin-right: 14px;
  color: var(--white);
  background-color: #111111;


  @media screen and (min-width: 768px) {
    margin-right: 24px!important;
  }
}
.tui-ico-prev, .tui-ico-first {
  color: #FFF!important;
}