p{
    color:black;
}

.scroll-up{
    transition: opacity 1s ease-out;
    opacity: 0;
    visibility: hidden;
    display: flex; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(79, 46, 232, 0.30); /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
}

.scroll-up-span{
    transition: opacity 1s ease-out;
    opacity: 0;
    visibility: hidden;
    background-color: #4F2EE8; /* Set a background color */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
}