.support {
    display: grid;
    max-width: 335px;
    height: 375px;
    padding-top: 24px;
    max-width: 335px;
    height: 352px;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, var(--violet) 18.03%, var(--white) 100%);
    box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
    border-radius: 16px;
  }
  
  @media screen and (min-width:428px) {
    .support{
    max-width: 335px;
    height: 460px;
    }      
  }
  @media screen and (min-width: 768px){
    .support{
    min-width: 335px;
    height: 474px;
  }
  }
  @media screen and (min-width: 1440px){
    .support{
    max-width: 356px;
    }
  }
  
  .support-title {
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.04em;
  }

  @media screen and (max-width:768px){
    .support-title{
    margin-bottom: 27px;
  }
  }
  
  .support-list {
    padding-left: 40px;
  }
  
  .support-button {
    display: flex;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}

  @media screen and (min-width: 768px) {
    .support-button{
    width: 38px;
    height: 38px;
  }
  }

  .support-button:focus,
  .support-button:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .button-support {
    justify-content: center;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 24px;
  }
  
  .support-button-svg {
    fill: var(--violet);
    margin: 0 4px 6px 0;
    width: 20px;
    height: 20px;
  }  
  
  @media screen and (min-width: 768px){
    .support-button-svg{
    width: 22px;
    height: 22px;
    }
  }
    
  .support-svg {
    fill: var(--white);
    margin-left: 10px;
  }
  
  .support-img {
    fill: var(--white);
    margin-left: 16px;
    filter: brightness(0) invert(1); 
  }
  
  .support-number {
    color: #fff;
    display: flex;
    align-items: center;
    height: 32px;
  }
  
  .support-link {
    margin-bottom: 20px;
  }
  
  .slider-container{
    overflow: hidden;
    scroll-behavior: smooth;
  }
